body {
    color: #00327d;
    background-color: #cbe0ff;
}

h1 {
    font-size:5.4rem;
    font-weight: bold;
}

h2 {
    margin: 15px;
    font-size:3.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000b1a;
}

h3 {
    font-size:3.4rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #251607;
  color: #ffeacb;
  }
  
  .top h1 {
    background-color: #070f25;
    text-shadow: 5px 5px black;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .top ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items:flex-start;
  margin-right: 30px;
  margin-top: 15px;
  font-size: 2rem;
  text-decoration: underline;
 
  
  
  
  }

  .top li {
    margin-left: 20px;
    text-shadow: 2px 2px rgb(34, 30, 30);
  }

  .bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    background-color: #1a1205;
    color: #ffeacb;
  }
  
  .bottom h3 {
    background-color: #050a1a;
    text-shadow: 3px 3px black;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
