body {
    
    color: #00327d;
    background-color: #cbe0ff;
}

h1 {
    font-size:5.4rem;
    font-weight: bold;
}

h2 {
    margin: 30px;
    font-size:3.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000b1a;
}

h3 {
    font-size:3.4rem;
   
}

h4 {
  font-size:3rem;
  font-weight:bold;
  text-decoration: underline;
  text-align:center;
}

p {
    text-indent: 15px;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 1.8rem;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(37,22,7,1) 35%, rgba(0,212,255,1) 100%);
  color: #ffeacb;
  }
  
  .top h1 {
    background-color: 	#ff2b00;
    text-shadow: 5px 2px black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .top ul {
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-top: 15px;
  font-size: 2rem;
  }

  .top li {
    margin-left: 20px;
    text-shadow: 2px 2px rgb(34, 30, 30);
  }

  .bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(87deg, rgba(2,0,36,1) 0%, rgba(26,18,5,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffeacb;
  }
  
  .bottom h3 {
    background-color: 	#ff2b00;
    border-radius: 10px;
    text-shadow: 3px 1px black;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* sets the .blocks along the column axis */
  main {
    display:flex;
    flex-direction: column;
    
  }

  /* sets .left and .right along a row within .block */
  .block {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  
  .block .left {
    margin-left: 50px;
  }

  .block .right {
    width:1500;
    margin-top: 20px;
    margin-left:50px;
    max-width:1500px;
    margin-right:50px;
  }

/* center aligns my picture */
  #me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .left {
    width: 175px;
  }

  .small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .small img {
    margin-top: 15px;
  }

  .big h4 {
    display:none;
  }
  
  /* code for the overlay modified slightly from a w3 schools snippit */
  .overlay {
    position:relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  figure:hover .overlay {
    opacity: 1;
  }


   #contacts li {
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    font-size: 2.2rem;
   }

   /* 🐕 on h2 after hover */
  h2:hover::after,
  h2:focus::after {
    content:'🐕';
    font-size: 2.4rem;
    margin: 1.5%;
  }

  span.emoji{
    display:none;
  }

  /* code to turn h3=Devious Doge into 🐕 upon hover */
  .bottom:hover span.default,
  .bottom:focus span.default{
    display:none;
  }

  .bottom:hover span.emoji,
  .bottom:focus span.emoji{
    display:block;
  }

  a:link {
    text-decoration: none;
    color:#00327d;
  }

  a:link:visited {
    color:#00327d;
  }

    a:link:hover,
    a:link:focus  {
    text-decoration: underline;
  }

  a:link:active {
    text-decoration: underline;
    color: black;
  }


  /* code to specifically apply to the navbar links, giving them unique
  properties */
  .top a {
    color:#ffeacb;
  }
  
  .top a:hover,
  .top a:focus {
    color:white;
  }

 

  /* Content unique to default desktop layout */
  @media screen and (min-width: 1789px) {
    .block  {
     justify-content: space-between;
    }

    .left {
      border-right: 2px solid #00327d;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    p {
      margin-right: 50px;
    }
    #contacts {
      margin-right: 223px;
    }
  }

  /* Any time the screen is small enough to wrap the .right div under 
  .left */

  @media screen and (max-width: 1789px) {

 .block {
  flex-direction: column;
  align-items: center;
 }
 
 .left {
  width:auto;
 }
 .right {
  padding-top: 30px;
  border-top:2px solid #00327d;
 }

  h2 {
  text-align:center;
  max-width: fit-content;
  border-radius: 10px;
  background-color: #7fb2ff;
  padding: 5px;
  /* margin: none; */
 }

 #contacts {
  margin-bottom: 50px;
 }
  }

  @media screen and (max-width: 1274px) {
    .overlay {
      display:none;
    }

    .smallimage {
      margin:50px;
    }
    .smallimage img {
      margin-top: 30px;
      width: 1500px;
    }

    h4 {
      font-size:3.6rem;
    }

    .big h4 {
      display:block;
    }
    
    .big img {
      margin-top: 30px;
    }

    
  }

  /* Optimizing the contact me section for tablets and small laptops */
  @media screen and (max-width: 1000px) {

    

    #contacts  {
      display:flex;
     }
     
     #contacts li {
      font-size: 1.8rem;
     }
 

    }

    /* Unique properties for mobile-sized screens */
    @media screen and (max-width: 600px) { 

      main {
        background-color: #7fb2ff;
      }

      .right {
       background-color: #cbe0ff;
       border-radius: 20px;
       border-top:none;
      }

      img {
        border-radius: 10px;
      }


      h2 {
        max-width: none;
      } 

      #contacts {
      flex-direction: column;
     }

     #contacts li {
      font-size: 2.4rem;

     }
    }